---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Projects from '../components/Projects.astro';
import ProjectCard from '../components/ProjectCard.astro';
import VideoCard from '../components/VideoCard.astro';
import { Image } from 'astro:assets';
import { Picture } from 'astro:assets';
import Me from '../assets/pictures/me.webp';
import Code from '../assets/icons/code.svg';
import Menu from '../assets/icons/menu.svg';
import Lock from '../assets/icons/lock.svg';
import Video from '../assets/icons/video.svg';
import Laptop from '../assets/icons/laptop.svg';
import Document from '../assets/icons/document.svg';
import Contact from '../assets/icons/contact.svg';
import Email from '../assets/icons/email.svg';
import Phone from '../assets/icons/phone.svg';
import Instagram from '../assets/icons/instagram.svg';
import Linkedin from '../assets/icons/linkedin.svg';
import Twitter from '../assets/icons/twitter.svg';
import BankingDashboard from '../assets/projects/banking-dashboard.png';
import FakeDashboard from '../assets/projects/fake-dashboard.png';
import TipCalculator from '../assets/projects/tip-calculator.png';
import Portfolio from '../assets/projects/portfolio.png';

const email = 'cichowlas.p@gmail.com';
---

<Layout title='Piotr Cichowlas'>
	<main class='flex justify-center items-center flex-col'>
		<nav
			class='bg-gray-200 flex flex-row justify-between w-screen max-w-screen py-2 md:py-4 lg:px-16 px-4 items-center sticky top-0 z-10 border-b-2 border-gray-300 border-opacity-50 overflow-hidden'
		>
			<div class='flex gap-4'>
				<div
					class='lg:hidden bg-gray-200 rounded-full p-1 border-[1px] border-gray-300 border-opacity-50 flex flex-row items-center gap-4 font-bold'
					'
				>
					<a
						href='mailto:cichowlas.p@gmail.com'
						class=`bg-gray-900 hover:bg-gray-700 text-gray-100 px-8 py-2 md:py-4 md:px-8 rounded-full`
					>
						Email
					</a>
				</div>
				<Button
					class='lg:flex hidden md:p'
					id='copy'
					info={email}
					padding='py-4 px-8'>Copy</Button
				>
				<Button
					button={false}
					href='/portfolio/CV/PC-CV.pdf'
					download='Piotr Cichowlas - CV'
					id='cv'>CV</Button
				>
			</div>

			<div class='lg:flex flex-row gap-4 font-normal text-lg hidden'>
				<a
					id='link'
					href='#start'
					class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
					>Top</a
				>
				<div>/</div>
				<a
					id='link'
					href='#about-me'
					class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
					>About Me</a
				>
				<div>/</div>
				<a
					href='#projects'
					id='link'
					class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
					>Projects</a
				>
				<div>/</div>
				<a
					id='link'
					href='#contact'
					class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
					>Contact</a
				>
			</div>
			<div
				id='open-menu'
				class='lg:hidden flex h-8 w-8 hover:cursor-pointer'
			>
				<Image
					alt='hamburger menu icon'
					src={Menu}
					height={100}
					width={100}
				/>
			</div>
		</nav>
		<div
			id='mobile-menu'
			class='top-0 right-0 left-0 h-screen hidden fixed bg-gray-200 z-20 flex-col justify-center items-center gap-8 text-xl'
		>
			<div
				class='bg-gray-900 w-full h-8 flex flex-row-reverse absolute top-0'
			>
				<button
					id='close-menu'
					class='pr-4 px-0 py-0 bg-transparent font-normal text-gray-200 text-xl rounded-none w-fit'
					>&times;</button
				>
			</div>
			<a
				href='#start'
				id='link'
				class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
				>Top</a
			>

			<a
				href='#about-me'
				id='link'
				class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
				>About Me</a
			>

			<a
				href='#projects'
				id='link'
				class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
				>Projects</a
			>

			<a
				href='#contact'
				id='link'
				class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
				>Contact</a
			>
		</div>
		<Section id='start' type='dark'>
			<div class='relative'>
				<div
					class='p-[5px] border-[1px] border-gray-300 border-opacity-50 w-fit h-fit rounded-full bg-gray-100 mb-4'
				>
					<Picture
						class='w-48 h-48 object-cover rounded-full'
						src={Me}
						loading='eager'
						alt='site creator'
						width={512}
						height={512}
					/>
				</div>
				<div
					class='absolute animate-wiggle bg-gray-100 rounded-full 2
					lg:w-44 text-center px-4 py-4 lg:left-44 left-40'
				>
					Piotr Cichowlas 👋🏻
				</div>
			</div>

			<h1
				class='bg-gradient-to-r text-3xl lg:text-7xl font-bold text-center leading-[0.9] from-gray-900 to-gray-400 text-transparent bg-clip-text'
			>
				Cybersecurity student, <div></div> front-end developer, <div>
				</div>video editor.
			</h1>
			<Button
				button={false}
				id='learn-more'
				class='bg-gray-900 hover:bg-gray-700 text-gray-100 font-semibold mt-16 text-sm'
				simple={true}>Learn more &darr;</Button
			>
		</Section>
		<Section id='about-me' type='light' title='About Me'>
			<div
				class='grid grid-cols-2 lg:grid-cols-4 lg:gap-20 gap-10 lg:px-16'
			>
				<Card
					icon={Lock}
					alt='locker'
					title='Cybersecurity'
					body='Securing the future by safeguarding data and systems. Wielding expertise in cybersecurity to protect networks, data, and users from digital threats.'
				/><Card
					icon={Code}
					alt='code editor'
					title='Front End Development'
					body='Building interactive and responsive web experiences. Creating engaging and dynamic user interfaces with a focus on performance and usability.'
				/><Card
					icon={Video}
					alt='film frames'
					title='Video Editing'
					body='Transforming raw footage into captivating stories. Blending technical skills and creative vision to produce polished, professional video content.'
				/><Card
					icon={Laptop}
					alt='laptop'
					title='Technology Enthusiast'
					body='Exploring and mastering the latest in tech. From assembling PCs to diving deep into operating systems, driven by a passion for technology.'
				/>
			</div>
		</Section>
		<Section type='dark' id='projects' title='Projects'>
			<div class='grid lg:grid-cols-3 lg:gap-4'>
				<Projects
					title='Cybersecurity'
					body='In this section, you will find cybersecurity projects that I completed during my studies. These works cover various aspects of Cybersecurity.'
					><div
						class='flex flex-row gap-4 overflow-x-auto overflow-y-hidden h-full w-full max-w-full'
					>
						<ProjectCard
							title='Software keylogger'
							link='https://github.com/cichowlasp/software-keylogger'
						>
							The project aims to explore the basic principles of
							Linux kernel driver operation. The task is to
							independently develop a driver that operates as a
							Linux kernel module to handle a basic keyboard. The
							driver should log all key presses and save them in a
							chosen manner. Additionally, the driver should
							include an easter egg that performs an extra
							operation selected by the authors when the so-called
							Konami Code is detected on the keyboard. This
							operation could, for example, involve playing a
							melody using the system's beeper. The project also
							includes a browser extension that allows monitoring
							of the key presses directly from the browser.
						</ProjectCard>
						<ProjectCard
							title='Pcap Extractor'
							link='https://github.com/cichowlasp/pcap-extractor'
						>
							The "pcap-extractor" is a sophisticated application
							designed to extract files and URLs from PCAP (Packet
							Capture) files, with the capability to scan for
							potentially insecure URLs or files that may pose a
							threat to users. Utilizing Tauri, React, and
							TypeScript, it offers a lightweight and efficient
							solution for analyzing network traffic data,
							providing critical insights for cybersecurity and
							network management.
						</ProjectCard>
						<ProjectCard
							title='OWASP Top Ten Implementation'
							link='https://github.com/cichowlasp/-ZIT-OWASP-Top-Ten-Implementation'
						>
							The "ZIT-OWASP-Top-Ten-Implementation" project
							provides practical implementations of some OWASP Top
							Ten security risks. It is designed to help
							developers and security professionals better
							understand and mitigate common vulnerabilities in
							web applications. By demonstrating how these
							security risks can be exploited and how to prevent
							them, the project serves as a valuable educational
							resource for improving web application security. The
							implementation is particularly useful for those
							looking to enhance their knowledge of secure coding
							practices and vulnerability management.
						</ProjectCard>
						<ProjectCard
							title='Penetration Tests'
							link='/portfolio/testy.pdf'
							icon={Document}
							alt='document'
							text='Doc'
						>
							A detailed report prepared on a series of labs
							focused on penetration testing, covering the
							configuration of tools such as VMWare Fusion, Kali
							Linux, and the TryHackMe platform. The labs included
							various tests, such as port scanning using Nmap,
							analyzing web application vulnerabilities to XSS and
							SQL Injection attacks, and privilege escalation in
							Linux systems using tools like LinEnum and LinPEAS.
							The report contains detailed descriptions of each
							step taken and the results of these operations,
							illustrated with screenshots. The documentation
							demonstrates skills in conducting comprehensive IT
							security tests.
						</ProjectCard>
						<ProjectCard
							title='Advanced Penetration Tests'
							link='/portfolio/testy-advanced.pdf'
							icon={Document}
							alt='document'
							text='Doc'
						>
							The document is a detailed report on advanced
							penetration testing techniques applied to networks
							and web applications. It covers a wide range of
							security assessments, including information
							gathering, configuration management, identity and
							access management, session management, and various
							injection attacks. The report also delves into
							specific vulnerabilities such as Cross-Site Request
							Forgery (CSRF), Local File Inclusion (LFI), Command
							Injection, Host Header Injection, and HTTP
							Smuggling. Additionally, it includes an analysis of
							mobile application security using MobSF, along with
							insights into low-level programming, reverse
							engineering, and buffer overflow exploits. The
							comprehensive analysis, supported by methodologies,
							tools, and findings, showcases a strong
							understanding of modern web and mobile application
							security. The report is illustrated with screenshots
							and code snippets, providing a clear demonstration
							of the processes and outcomes of the conducted
							tests.
						</ProjectCard>
					</div>
				</Projects>
				<Projects
					title='Front End Development'
					body='A showcase of responsive web apps built with modern front-end technologies. Check out the live demos to see them in action!'
				>
					<div class='flex flex-row gap-4 overflow-x-auto max-w-full'>
						<ProjectCard
							title='Banking Dashboard'
							link='https://github.com/cichowlasp/banking-dashboard?tab=readme-ov-file'
							demo='https://cichowlasp.github.io/banking-dashboard/'
						>
							<Picture
								class='w-full h-full object-contain'
								src={BankingDashboard}
								alt='banking website'
							/>
						</ProjectCard>
						<ProjectCard
							title='Fake Dashboard'
							link='https://github.com/cichowlasp/projekt2'
							demo='https://cichowlasp.github.io/projekt2/'
						>
							<Picture
								class='w-full h-full object-contain'
								src={FakeDashboard}
								alt='fake dashboard website'
							/>
						</ProjectCard>
						<ProjectCard
							title='Tip Calculator'
							link='https://github.com/cichowlasp/tip-calculator-app-main'
							demo='https://cichowlasp.github.io/tip-calculator-app-main/'
						>
							<Picture
								class='w-full h-full object-contain'
								src={TipCalculator}
								alt='fake dashboard website'
							/>
						</ProjectCard>
						<ProjectCard
							title='Portfolio'
							link='https://github.com/cichowlasp/portfolio'
							demo='https://cichowlasp.github.io/portfolio/'
						>
							<Picture
								class='w-full h-full object-contain'
								src={Portfolio}
								alt='fake dashboard website'
							/>
						</ProjectCard>
					</div>
				</Projects>
				<Projects
					title='Video editing'
					body='Discover video editing projects that showcase my skills in visual storytelling, from color grading to motion graphics.'
				>
					<div class='flex flex-row gap-4 overflow-x-auto max-w-full'>
						<VideoCard
							video='https://www.youtube.com/watch?v=pV8LClUvU7s'
						/>
						<VideoCard
							video='https://www.youtube.com/watch?v=uebqfy3YX_s'
						/>
						<VideoCard
							video='https://www.youtube.com/watch?v=jJqd73ba_nY'
						/>
						<VideoCard
							video='https://www.youtube.com/watch?v=ia9wrZtTzY0'
						/>
						<VideoCard
							video='https://www.youtube.com/watch?v=ItR-RzSl-H4'
						/>
						<VideoCard
							video='https://www.youtube.com/watch?v=HCN7D_xpI7M'
						/>
						<VideoCard
							video='https://www.youtube.com/watch?v=Jj6UyNc8cYQ'
						/>
					</div>
				</Projects>
			</div>
		</Section>
		<Section id='contact' type='light'>
			<div
				class='bg-gradient-to-b from-gray-300 to-gray-100 rounded-full mb-8'
			>
				<div
					class='rounded-full bg-gradient-to-b from-gray-200 to-gray-100 m-1'
				>
					<Image
						src={Contact}
						alt='contact informations'
						height={200}
						width={200}
						class='opacity-30 p-8'
					/>
				</div>
			</div>
			<h2
				class='p-1 mb-10 bg-gradient-to-r text-3xl lg:text-5xl font-bold text-center from-gray-900 to-gray-400 text-transparent bg-clip-text'
			>
				Let's work together!
			</h2>
			<div class='flex flex-row gap-5'>
				<div
					class='bg-gray-200 rounded-full p-1 border-[1px] border-gray-300 border-opacity-50 flex flex-row items-center gap-4 text-sm'
					'
				>
					<a
						href='mailto:cichowlas.p@gmail.com'
						class='bg-gray-900 hover:bg-gray-700 text-gray-100 py-4 px-6 rounded-full flex flex-row items-center justify-center w-32 gap-2'
					>
						<Image
							src={Email}
							class='fill-gray-100'
							alt='email envelope'
							width={20}
							height={20}
						/>
						Email
					</a>
				</div>
				<div
					class='bg-gray-200 rounded-full p-1 border-[1px] border-gray-300 border-opacity-50 flex flex-row items-center gap-4 text-sm'
					'
				>
					<a
						href='tel:+48733330488'
						class='bg-gray-100 hover:bg-gray-300 text-gray-800 py-4 px-6 rounded-full flex flex-row items-center w-32 justify-center gap-2'
					>
						<Image
							src={Phone}
							alt='old phone'
							width={20}
							height={20}
						/>
						Phone
					</a>
				</div>
			</div>
		</Section>
	</main>
	<footer
		class='bg-gray-200 h-24 flex px-8 md:justify-evenly justify-between items-center text-center font-light text-sm max-w-[100vw] overflow-hidden'
	>
		<div>👨🏻‍💻 Piotr Cichowlas 2024</div>
		<div class='flex gap-2 justify-center items-center'>
			<a
				class='flex gap-1 hover:underline'
				target='_blank'
				href='https://www.instagram.com/cichowlasp/'
			>
				<Image alt='Link to instagram profile' src={Instagram} />
				<div class='hidden md:block'>Instagram</div>
			</a>
			<div>/</div>
			<a
				class='flex gap-1 hover:underline'
				target='_blank'
				href='https://x.com/cichowlasp'
			>
				<Image alt='Link to Twitter profile' src={Twitter} />
				<div class='hidden md:block'>Twitter</div>
			</a>
			<div>/</div>
			<a
				class='flex gap-1 hover:underline'
				target='_blank'
				href='https://www.linkedin.com/in/piotr-cichowlas/'
			>
				<Image alt='Link to Linkedin profile' src={Linkedin} />
				<div class='hidden md:block'>Linkedin</div>
			</a>
		</div>
	</footer>
</Layout>

<script define:vars={{ email }}>
	const delay = (ms) => new Promise((res) => setTimeout(res, ms));
	let copyButton = document.querySelector('#copy');
	copyButton?.addEventListener('click', async () => {
		await navigator.clipboard
			.writeText(email)
			.then(() => (copyButton.textContent = 'Copied!'))
			.catch((error) => console.error(error));
		await delay(2000);
		copyButton.textContent = 'Copy';
	});

	document.querySelectorAll('#link').forEach((anchor) => {
		anchor.addEventListener('click', function (event) {
			event.preventDefault();

			document.querySelector(this.getAttribute('href')).scrollIntoView({
				behavior: 'smooth',
			});
		});
	});

	const mobileMenu = document.querySelector('#mobile-menu');

	const hideMenu = () => {
		mobileMenu.classList.remove('flex');
		mobileMenu.classList.add('hidden');
	};

	const showMenu = () => {
		mobileMenu.classList.remove('hidden');
		mobileMenu.classList.add('flex');
	};

	const closeMenu = document.querySelector('#close-menu');
	const openMenu = document.querySelector('#open-menu');

	closeMenu?.addEventListener('click', () => hideMenu());
	openMenu?.addEventListener('click', () => showMenu());

	const mobileLinks = mobileMenu.children;
	[...mobileLinks].forEach((link) =>
		link.addEventListener('click', () => hideMenu())
	);

	const findPosition = (obj) => {
		var currenttop = 0;
		if (obj.offsetParent) {
			do {
				currenttop += obj.offsetTop;
			} while ((obj = obj.offsetParent));
			return [currenttop - 100];
		}
	};

	const learnButton = document.querySelector('#learn-more');
	learnButton.addEventListener('click', () =>
		scrollTo({
			top: findPosition(document.querySelector('#about-me')),
			behavior: 'smooth',
		})
	);
</script>
