---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
	info?: string;
	simple?: boolean;
	dark?: boolean;
	href?: string;
	download?: string;
	button?: boolean;
	padding?: string;
}
const { info, simple = false, dark = false, href, download, button = true, padding } = Astro.props;
---

{
	href && download && <div class=` bg-gray-200 rounded-full p-1 border-[1px] border-gray-300 border-opacity-50 flex flex-row items-center gap-4 font-bold ${Astro.props.class}`>
			{info ? <div class='pl-4 font-normal'>{info}</div> : null}
			<a href={href} download={download} class=`${dark? 'bg-gray-900 text-gray-100 hover:bg-gray-700' : 'bg-gray-100 text-gray-900 hover:bg-gray-300'} px-8 py-2 md:py-4 md:px-8 rounded-full` {...Astro.props}>
				<slot />
			</a>
		</div>
}

{
	simple && 
		<button class=`bg-gray-100 py-4 px-8 rounded-full ${Astro.props.class}` {...Astro.props}>
			<slot />
		</button>

}

{
button && <div class=` bg-gray-200 rounded-full p-1 border-[1px] border-gray-300 border-opacity-50 flex flex-row items-center gap-4 font-bold ${Astro.props.class}`>
			{info ? <div class='pl-4 font-normal'>{info}</div> : null}
			<button class=` ${dark? 'bg-gray-900 text-gray-100 hover:bg-gray-700' : 'bg-gray-100 text-gray-900 hover:bg-gray-300'} px-8 py-2 md:py-4 md:px-8 rounded-full` {...Astro.props}>
				<slot />
			</button>
</div>
}